{% import "macros.html" as macros %}<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <header>
    <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
      <a itemprop="url" href="/"><span itemprop="name">Home</span></a>
      <a itemprop="url" href="/categories"><span itemprop="name">Categories</span></a>
      <a itemprop="url" href="/tags"><span itemprop="name">Tags</span></a>
    </nav>
  </header>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  <div class="left_background"></div>
  <div class="right_background"></div>
</body>

</html>