{% extends "base.html" %}

{% block content %}
  <h1 class="homepage_title">
    {{ config.title }}
  </h1>
  <p>{{ config.description }}</p>
  {% set section = get_section(path="blog/_index.md") %}
  {% for page in section.pages %}
    {% if loop.index0 < 5 %}
      {% if loop.first %}
        <br>
      {% else %}
        <br><br>
      {% endif %}
      {{ macros::preview(page=page) }}
    {% endif %}
  {% endfor %}
  <h3><a href="/blog/page/2">Continue browsing blog posts.</a></h3>
{% endblock content %}